/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: "Inter Web";
    font-weight: 400;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Web";
    font-weight: 600;
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* Global colors */
    --global-color-alpha-light: #ffe873;
    --global-color-alpha: #ffda29;
    --global-color-alpha-dark: #f5d01a;
    --global-color-alpha-x-dark: #d4b206;
    --global-color-alpha-transparent: #ffda29bf;
    --global-color-alpha-x-transparent: #ffda294d;

    --global-color-beta-xx-light: #667aa5;
    --global-color-beta-x-light: #4e618a;
    --global-color-beta-light: #344363;
    --global-color-beta: #28334a;
    --global-color-beta-dark: #1e283f;

    --global-color-neutral-xxxx-light: #f5f6fa;
    --global-color-neutral-xxx-light: #e2e3e7;
    --global-color-neutral-xx-light: #caccd4;
    --global-color-neutral-x-light: #b5b6c0;
    --global-color-neutral-light: #a0a1ad;
    --global-color-neutral: #8b8c9a;
    --global-color-neutral-dark: #757787;
    --global-color-neutral-x-dark: #606274;
    --global-color-neutral-xx-dark: #4b4c60;
    --global-color-neutral-xxx-dark: #35374d;
    --global-color-neutral-xxxx-dark: #20223a;

    --global-color-error: #de1738;
    --global-input-error-borderColor: var(--global-color-error);

    /* global page settings */
    --global-html-color: var(--global-color-neutral-xxxx-dark);
    --global-html-backgroundColor: var(--global-color-neutral-xxxx-light);
    --global-selection-backgroundColor: var(--global-color-alpha);

    /* borders */
    --global-borderRadius: 3px;
    --global-borderWidth: 1px;

    /* transitions */
    --global-transitionTiming-alpha: 0.1s ease-out;
    --global-transition: all 0.6s cubic-bezier(1, 0, 0, 1);

    /* Baseline settings */
    --global-baseline: 8px;
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

    /* forms */
    --global-placeholder-color: var(--global-color-neutral-x-light);
    --global-input-backgroundColor: White;
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha);
    --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
    --global-input-focus-boxShadow: 0 0 0 3px var(--global-input-focus-boxShadowColor);

    /* popups */
    --popup-iconColor: var(--global-color-neutral-xx-dark);
    --popup-detailsTextColor: var(--global-color-neutral-x-dark);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

html {
    background-color: var(--global-html-backgroundColor);
    color: var(--global-html-color);
    font-size: 16px;
    line-height: 1.5;
    font-family: "Inter Web", Helvetica, arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-selection-backgroundColor);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--global-selection-backgroundColor);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 var(--global-whitespace);
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 var(--global-whitespace);
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace);
}

ul,
ol {
    padding-left: var(--global-whitespace);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 var(--global-whitespace);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: var(--global-whitespace-sm);
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 var(--global-whitespace);
}

a,
a:visited {
    transition: all var(--global-transitionTiming-alpha);
    color: var(--global-color-alpha);
    outline-color: var(--global-link-BoxShadowColor);
    outline-width: medium;
    outline-offset: 2px;
}

a:hover,
a:focus {
    color: var(--global-color-alpha-light);
}

a:active {
    color: var(--global-color-alpha-x-dark);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--global-placeholder-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#mapid {
    height: 100vh;
    position: relative;
    z-index: 10;
}

body {
    font-family: sans-serif;
}

.c-app {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 350px 1fr;

    min-height: 100vh;
}

.c-app__sidebar {
    height: 100vh;
    background-color: var(--global-html-backgroundColor);
    z-index: 20;
    transition: var(--global-transition);

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

}

.c-sidebar__logo {
    padding: var(--global-whitespace);
}

.c-sidebar__properties {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 var(--global-whitespace);
}

.scrollable-categories {
    overflow-y: auto; /* makes this section scrollable */
    position: relative;
    height: calc(100vh - 150px);
}

.arrow-icon {
    /* fill: var(--main-dark); */
    fill: var(--global-color-alpha);
    transition: all 0.3s ease-in-out;
}

.show__icon {
    fill: var(--global-color-alpha);
}

.show__icon--open {
    transform: rotateZ(90deg);
}

.show {
    left: 0;
    box-shadow: 6px 0px 100px 0px rgba(0, 0, 0, 0.3);
}

.static-row {
    width: 100%;
    height: 32px;

    position: fixed;
    display: flex;
    top: var(--global-whitespace-xl);
    left: var(--global-whitespace);
    z-index: 30;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
    display: flow-root;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 326px;
}

@media (min-width: 768px) {
    .o-container {
        max-width: 438px;
    }
}

@media (min-width: 1024px) {
    .o-container {
        max-width: 926px;
    }
}

@media (min-width: 1440px) {
    .o-container {
        max-width: 1272px;
    }
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flow-root;
}

.o-section + .o-section {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        margin-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
    margin-bottom: 24px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
}

.o-layout--gutter-xl {
    margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
    padding: 0 48px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is more than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/* gap modifiers that only work if there is more than one flex item */

.o-layout--gap-sm {
    gap: var(--global-whitespace-sm);
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.c-header__container {
    /* background-color: var(--global-color-alpha-light); */
}

.c-header {
    padding-top: calc(var(--global-baseline) * 4.5);
    padding-bottom: calc(var(--global-baseline) * 4.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.c-header__logo {
    height: 1.5em;
}

.c-header__nav {
    display: none;
}

@media (min-width: 768px) {
    .c-header {
        padding-top: calc(var(--global-baseline) * 4.5);
        padding-bottom: calc(var(--global-baseline) * 4.5);
        max-width: 438px;
    }
}

@media (min-width: 1024px) {
    .c-header {
        margin: 0 auto;
        padding: var(--global-whitespace) 0;
        max-width: 926px;
    }

    .c-header__nav {
        display: flex;
        align-items: center;
    }

    .c-nav__list {
        display: flex;
        margin: 0;
    }

    .c-nav__item {
        margin-right: 38px;
    }

    .c-nav__link {
        text-decoration: none;
        font-size: 14px;
    }

    .c-nav__link:visited {
        color: var(--global-color-neutral-xx-dark);
    }
}

@media (min-width: 1440px) {
    .c-header {
        max-width: 1272px;
    }
}

.c-cta {
    padding: var(--global-whitespace-sm) var(--global-whitespace-md);
    margin: 0;
    text-align: center;

    text-decoration: none;
    font-size: 16px;
    color: white;

    /* background: linear-gradient(to bottom right, var(--global-color-alpha-dark), var(--global-color-alpha-x-dark)); */
    background-color: var(--global-color-beta-x-light);
    border-radius: 8px;
    border: 1px solid var(--global-color-beta-x-dark);

    transition: all 0.2s ease;
}

.c-cta:hover {
    background-color: var(--global-color-alpha-dark);
    color: white;
    border-color: var(--global-color-alpha-x-dark);
    /* background-color: red; */
}

.c-cta:visited {
    color: white;
}

.c-cta:hover:visited {
    color: #fff;
}

/* ///////////////////////////////////////////////////// */

.c-explenation {
    padding-top: 0;
    margin: 0 auto 72px auto;
}

.c-explenation__text {
    font-size: 18px;
    color: var(--global-color-neutral-x-dark);
    margin-bottom: 32px;
}

.c-explenation__figure {
    display: block;
    position: relative;
    top: 65px;
}

/* @media (min-width: 1024px) {
    .c-explenation__figure {
        display: block;
    }
} */

.c-content-background {
    background-color: #20223a;
    color: #fff;
}

.c-content-top {
    margin-bottom: 72px;
    position: relative;

    background-color: var(--global-color-alpha);
}

@media (min-width: 1024px) {
    .c-content-top {
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {
    .c-content-background {
        position: relative;
        padding-top: 96px;
        z-index: 10;
        top: -96px;
        height: calc(100% + 96px);
    }
}

.c-custom-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc(100vw - 48px);
}

@media (min-width: 576) {
    .c-custom-container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .c-custom-container {
        margin-left: 0;
        width: 100%;
        max-width: 567px;
    }
}

@media (min-width: 992px) {
    .c-custom-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 926px;
    }
}

@media (min-width: 1440px) {
    .c-custom-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1272px;
    }
}

.c-topbar {
    padding: var(--global-whitespace-md) 0;
    position: fixed;
    width: 100%;
}

.c-nav {
}

.c-nav__list {
    display: flex;
    gap: var(--global-baseline);
    margin: 0;
    padding: 0;
}

.c-nav__list-item {
    list-style: none;
}

.c-nav__list-item-link {
    text-decoration: none;
    color: var(--global-color-neutral-xxxx-dark);
    /* font-size: 14px; */
}

.c-nav__list-item-link:visited {
    color: var(--global-color-neutral-xxxx-dark);
}

.c-header__content {
}

.c-header__content__lead {
    margin-bottom: var(--global-whitespace-md);
}

.c-header__content__lead-title {
    margin-bottom: var(--global-whitespace-xs);
}

.c-header__content__lead-text {
    margin-bottom: var(--global-whitespace-xs);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    transition: var(--global-transition);
    background-color: var(--global-html-backgroundColor);
}

.leaflet-bar a {
    color: var(--global-html-color);
    background-color: var(--global-html-backgroundColor);
    transition: var(--global-transition);
}

.leaflet-tile {
    -webkit-filter: var(--global-leaflet-wekit-filter);
    transition: var(--global-transition);
}

.leaflet-control-scale-line {
    color: var(--global-html-color);
    background-color: var(--global-html-backgroundColor);
    transition: var(--global-transition);
}

.c-logo {
    position: relative;
    display: flex;
    align-items: center;

    font-size: 32px;
    color: var(--global-html-color);
    fill: var(--global-html-color);
    transition: var(--global-transition);
}

.c-logo__text {
    margin: 0;
}

.c-logo__icon {
    height: 32px;
    width: 32px;
    margin-left: var(--global-whitespace-sm);
    /* font-size: 1.6rem; */
}

.hamburger-menu {
    width: 36px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 16px;
}

.line {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--global-color-alpha);
    transition: all 0.8s ease;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

/* HERE */
.change .line-1 {
    transform: rotateZ(-405deg) translate(-9px, 6px);
    box-shadow: none;
}

.change .line-2 {
    opacity: 0;
}

/* HERE */
.change .line-3 {
    transform: rotateZ(405deg) translate(-9px, -6px);
    box-shadow: none;
}

.offset {
    position: relative;
    top: calc(var(--global-whitespace-xl) + var(--global-whitespace) + 1rem);
}

.light-color {
    color: var(--global-color-neutral-xxxx-light);
    fill: var(--global-color-neutral-xxxx-light);
}

.c-layer {
    --layerDuration: 0.3s;
    --layerTiming: ease-out;
    transition: fill-opacity var(--layerDuration) var(--layerTiming), stroke-opacity var(--layerDuration) var(--layerTiming);
}

.u-only-on-small-devices {
    display: block;
}

.u-only-on-big-devices {
    display: none;
}

@media (min-width: 992px) {
    .u-only-on-small-devices {
        display: none;
    }

    .u-only-on-big-devices {
        display: block;
    }
}

.u-hidden-layergroup {
    opacity: 0;
}

.u-hidden {
    display: none;
}

.small-width {
    max-width: 17em;
}

.footer {
    position: absolute;
    font-size: 14px;
    font-style: italic;
    left: 30px;
    bottom: 24px;
    color: #999;
}

.light-text {
    color: var(--global-color-neutral-xxxx-light);
}

.leaflet-popup {
    -webkit-animation: fadein 0.6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.6s; /* Firefox < 16 */
    -ms-animation: fadein 0.6s; /* Internet Explorer */
    -o-animation: fadein 0.6s; /* Opera < 12.1 */
    animation: fadein 0.6s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.c-popup {
    --popup-titleTextColor: var(--global-html-color);

    transition: var(--global-transition);
}

.c-popup__title {
    font-size: 1.2rem;
    line-height: 1.5rem;

    margin: 0 0 var(--global-whitespace-xs) 0 !important;
    color: var(--popup-titleTextColor);
}

.c-popup__date {
    --popup-dateSize: 0.8rem;

    display: flex;
    align-items: flex-end;
    margin: 0 0 var(--global-whitespace-md) 0 !important;

    color: var(--popup-detailsTextColor);
    fill: var(--popup-iconColor);
}

.c-popup__date svg {
    height: calc(var(--popup-dateSize) * 1.4);
    margin: 0 var(--global-whitespace-sm) 0 0;
}

.c-popup__date p {
    font-size: var(--popup-dateSize);
    /* little bit smaller for flex-end alignment with the calendar icon */
    line-height: calc(var(--popup-dateSize) * 0.75);
    margin: 0;
}

.c-popup__text {
    margin: 0 0 var(--global-whitespace-xs) 0 !important;
    color: var(--popup-detailsTextColor) !important;
}

.c-popup__richter-container {
    height: 1rem;
    width: 100%;
    position: relative;

    margin-bottom: var(--global-whitespace-xs);
}

.c-popup__richter-bar {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.c-popup__richter-bar--background {
    background-color: var(--global-color-neutral-xxx-light);
}

.c-popup__richter-labels {
    display: flex;
    justify-content: space-between;
}

.c-popup__richter-labels p {
    margin: 0;
    font-size: 1rem;
}

/*
    Component: Forms
    ---
    Everything form related here
*/

.c-form-field--option {
    display: flex;
    align-items: center;
}

.c-form-field--floating {
    position: relative;
}

.c-form-field:focus-within .c-label--floating {
    transform: translateY(-24px);
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: var(--global-borderWidth) solid var(--input-borderColor, var(--global-input-borderColor));
    border-radius: var(--global-borderRadius);
    background-color: var(--global-input-backgroundColor);
    color: var(--global-input-color);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(var(--global-baseline) * 3);
    padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
    outline: none;
    transition: border var(--global-transition-timing-alpha), box-shadow var(--global-transition-timing-alpha);
}

.c-input:hover {
    border-color: var(--global-input-hover-borderColor);
}

.c-input:focus,
.c-input:active {
    border-color: var(--global-input-focus-borderColor);
    box-shadow: var(--global-input-focus-boxShadow);
}

/*
Input password with toggle checkbox on top of it needs
more padding on the right to avoid overlap
*/

.c-input--password-with-toggle {
    padding-right: 52px;
}

/* option input for checkboxes and radio buttons */

.c-option {
    margin-right: var(--global-whitespace-sm);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
    margin-bottom: 0;
    padding-bottom: var(--global-whitespace-sm);
    font-size: 1rem;
    line-height: 1.1rem;
    color: var(--global-html-color);

    display: flex;
    justify-content: space-between;

    cursor: pointer;
}

.c-label--option {
    padding-bottom: 0;
}

.c-label--floating {
    position: absolute;
    top: 12px;
    left: 8px;
    padding: 4px 8px;
    will-change: transform;
    transform: translateY(0);
    transition: transform 200ms ease-in-out;
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.8);
    background: white;
}

.is-floating {
    transform: translateY(-24px);
}

/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-button {
    --button-borderColor: var(--global-color-alpha-dark);
    --button-hover-borderColor: var(--global-color-alpha-dark);
    --button-active-borderColor: var(--global-color-alpha-dark);
    --button-focus-borderColor: var(--global-color-alpha-dark);
    --button-backgroundColor: var(--global-color-alpha);
    --button-hover-backgroundColor: var(--global-color-alpha-light);
    --button-active-backgroundColor: var(--global-color-alpha-dark);
    --button-focus-backgroundColor: var(--global-color-alpha);
    --button-focus-boxShadow: var(--global-input-focus-boxShadow);
    font-size: 16px;
    font-weight: 600;
    border-radius: var(--global-borderRadius);
    border: 1px solid var(--button-borderColor);
    background-color: var(--button-backgroundColor);
    color: #fff;
    line-height: calc(var(--global-baseline) * 3);
    padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
    width: 100%;
    outline: none;
    box-shadow: var(--button-boxShadow, 0);
    transition: all var(--global-transitionTiming-alpha) var(--global-transitionEasing-out);
}

.c-button:hover {
    border-color: var(--button-hover-borderColor);
    background-color: var(--button-hover-backgroundColor);
}

.c-button:focus {
    background-color: var(--button-focus-backgroundColor);
    border-color: var(--button-focus-borderColor);
    box-shadow: var(--button-focus-boxShadow);
}

.c-button:active {
    background-color: var(--button-active-backgroundColor);
    border-color: var(--button-active-borderColor);
    box-shadow: var(--button-active-boxShadow, 0);
}

/*
    Component: Option list
*/

.c-option-list {
    margin-bottom: var(--global-whitespace);
}

.c-option-list__item {
    margin-bottom: calc(var(--global-whitespace) / 2);
}

/*
    Custom option
    ---
    Custom checkboxes & radio buttons
*/

/* Hide the actual input with the class .o-hide-accessible */

.c-custom-option {
    --custom-option__symbol-Fill: var(--global-color-alpha-x-dark);
    display: flex;
    align-items: center;
}

.c-custom-option__fake-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--global-whitespace-md);
    height: var(--global-whitespace-md);
    margin-right: var(--global-whitespace-sm);
    background: var(--global-input-backgroundColor);
    border: var(--global-borderWidth) solid var(--custom-option-borderColor, var(--global-input-borderColor));
    box-shadow: var(--custom-option-boxShadow, 0);
    transition: border var(--global-transitionTiming-alpha), box-shadow var(--global-transitionTiming-alpha);

    cursor: pointer;
}

.c-custom-option__fake-input--checkbox {
    border-radius: var(--global-borderRadius);
}

.c-custom-option__fake-input--radio {
    border-radius: 100%;
}

.c-custom-option__fake-input--like {
    width: 24px;
    border: none;
    box-shadow: none;
}

.c-custom-option__symbol {
    display: block;
    opacity: 0; /* Hide the symbol initially */
    transform: scale(0.5);
    transition: transform var(--global-transitionTiming-alpha), opacity var(--global-transitionTiming-alpha);
}

.c-custom-option__fake-input--checkbox .c-custom-option__symbol {
    width: 10px;
    height: 10px;
    fill: var(--custom-option__symbol-Fill);
}

.c-custom-option__fake-input--radio .c-custom-option__symbol {
    background-color: var(--custom-option__symbol-Fill);
    border-radius: 100%;
    width: 6px;
    height: 6px;
}

/* hover state */

.c-custom-option:hover {
    --custom-option-borderColor: var(--global-input-hover-borderColor);
}

/* focused and active state */

.c-option--hidden:focus + .c-custom-option,
.c-option--hidden:active + .c-custom-option {
    --custom-option-borderColor: var(--global-input-focus-borderColor);
    --custom-option-boxShadow: var(--global-input-focus-boxShadow);
}

/* checked state */

.c-option--hidden:checked + .c-custom-option .c-custom-option__symbol {
    opacity: 1; /* Show the symbol when the invisible checkbox/radio button is checked */
    transform: scale(1);
}

/*
    Component: Custom Toggle
    ---
    Visually change a checkbox into a toggle
*/

.c-custom-toggle-list {
    --toggle-list-borderColor: var(--global-color-neutral-xxx-light);
    margin-bottom: var(--global-whitespace);
}

.c-custom-toggle-list__item {
    margin-bottom: calc(var(--global-whitespace) / 2);
}

.c-custom-toggle-list__item + .c-custom-toggle-list__item {
    padding-top: calc(var(--global-whitespace) / 2);
    border-top: 1px solid var(--toggle-list-borderColor);
}

.c-custom-toggle {
    --toggle-backgroundColor: var(--global-color-neutral-xxxx-light);
    --toggle-checked-borderColor: var(--global-color-alpha-dark);
    --toggle-checked-backgroundColor: var(--global-color-alpha);
    --toggle-focus-boxShadow: var(--global-input-focus-boxShadow);
    --toggle__switch-backgroundColor: White;
    --toggle__switch-checked-backgroundColor: White;
    --toggle__switch-transition: all var(--global-transitionTiming-alpha);
    display: flex;
    align-items: center;
}

.c-custom-toggle--inverted {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.c-custom-toggle__fake-input {
    display: block;
    height: 24px;
    width: 48px;
    margin-right: var(--global-whitespace-md);
    background-color: var(--toggle-backgroundColor);
    border-radius: 32px;
    border: var(--global-borderWidth) solid var(--toggle-borderColor, var(--global-input-borderColor));
    transition: all var(--global-transitionTiming-alpha);
    box-shadow: var(--toggle-boxShadow, 0);
}

.c-custom-toggle--inverted .c-custom-toggle__fake-input {
    margin-right: 0;
}

.c-custom-toggle__fake-input::after {
    position: relative;
    display: block;
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 22px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--toggle__switch-backgroundColor);
    transition: var(--toggle__switch-transition);
}

/* focused and active state */

.c-option--hidden:focus + .c-custom-toggle,
.c-option--hidden:active + .c-custom-toggle {
    --toggle-borderColor: var(--global-input-focus-borderColor);
    --toggle-boxShadow: var(--toggle-focus-boxShadow);
}

/* checked state */

.c-option--hidden:checked + .c-custom-toggle {
    --toggle-backgroundColor: var(--toggle-checked-backgroundColor);
    --toggle-borderColor: var(--toggle-checked-borderColor);
    --toggle__switch-backgroundColor: var(--toggle__switch-checked-backgroundColor);
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    transform: translate(24px, 0);
}

/* special active state */

.c-option--hidden:active + .c-custom-toggle .c-custom-toggle__fake-input::after {
    width: 28px;
}

.c-option--hidden:active:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    margin-left: -6px;
}

.u-light-text {
    color: var(--global-color-neutral-xxxx-light);
}

/*!
 * html5-device-mockups (https://github.com/pixelsign/html5-device-mockups)
 * Copyright 2013 - 2018 pixelsign
 * Licensed under MIT (https://github.com/pixelsign/html5-device-mockups/blob/master/LICENSE.txt)
 * Last Build: Thu Dec 20 2018 14:05:50
 */
.device-wrapper {
    max-width: 300px;
    width: 100%;
}

.device {
    position: relative;
    background-size: cover;
}

.device--big {
    /* transform: translateY(25%); */
}

.device::after {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.device .screen {
    position: absolute;
    background-size: cover;
    pointer-events: auto;
}

.device .button {
    position: absolute;
    cursor: pointer;
}

.device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] {
    padding-bottom: 198.89807163%;
    background-image: url(./../img/device-mockups/iPhoneX/portrait.png);
    z-index: initial;
}

.device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] .screen {
    top: 3.254847645%;
    left: 7.162534435%;
    width: 85.67493113%;
    height: 93.49030471%;
    border: 0px;
    z-index: 0;
}

.device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] {
    padding-bottom: 50.27700831%;
    background-image: url(./../img/device-mockups/iPhoneX/landscape.png);
    z-index: initial;
}

.device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] .screen {
    top: 7.162534435%;
    left: 3.254847645%;
    width: 93.49030471%;
    height: 85.67493113%;
    border: 0px;
    z-index: 0;
}

.device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] {
    padding-bottom: 198.898071625%;
}

.device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] .screen {
    top: 3.1855955679%;
    left: 6.8870523416%;
    width: 86.2258953168%;
    height: 93.6288088643%;
}

.device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"]::after {
    content: "";
    background-image: url(./../img/device-mockups/iPhoneX/portrait_black.png);
}

.device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] {
    padding-bottom: 50.2770083102%;
}

.device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] .screen {
    top: 6.3360881543%;
    left: 3.4626038781%;
    width: 93.0747922438%;
    height: 87.3278236915%;
}

.device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"]::after {
    content: "";
    background-image: url(./../img/device-mockups/iPhoneX/landscape_black.png);
}

.device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.c-download-icon {
    height: 3rem;
    width: auto;
}

.svg-border-waves {
    padding-top: 2rem;
}
.svg-border-waves svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

.u-align-center {
    margin: 0 auto;
}

.px-md {
    padding: 0 var(--global-whitespace-md);
}

@media (min-width: 992px) {
    .px-md {
        padding: 0 var(--global-whitespace-lg);
    }
}

.text-xs {
    font-size: 0.7rem !important;
    line-height: 1rem !important;
    margin-bottom: 1rem !important;
}

.text-italic {
    font-style: italic;
}

.text-white {
    color: white !important;
    fill: white !important;
}

.text-bg-col {
    color: var(--global-html-backgroundColor) !important;
    fill: var(--global-html-backgroundColor) !important;
}

.u-z-1 {
    position: relative;
    z-index: 1;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-100 {
    max-width: 100% !important;
    width: 100% !important;
}

.u-max-width-75 {
    max-width: 75% !important;
    width: 75% !important;
}

.u-max-width-xs {
    max-width: 18em !important;
}

.u-max-width-sm {
    max-width: 30em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}

@media (min-width: 768px) {
    .u-max-width-header {
        width: 576px !important;
        max-width: 576px !important;
    }
}

@media (min-width: 1024px) {
    .u-max-width-header {
        width: 926px !important;
        max-width: 926px !important;
    }
}

@media (min-width: 1440px) {
    .u-max-width-header {
        width: 1272px !important;
        max-width: 1272px !important;
    }
}

.u-max-height-md {
    max-height: 400px !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --global-html-color: var(--global-color-neutral-xxxx-light);
        --global-html-backgroundColor: var(--global-color-neutral-xxx-dark);
        --popup-iconColor: var(--global-color-neutral-xxxx-light);
        --popup-detailsTextColor: var(--global-color-neutral-x-light);
        --global-leaflet-wekit-filter: "hue-rotate(180deg) invert(100%)";
    }
}
